// Footer
$footer-bg-color: black;
$footer-color: white;
$footer-height: 100px;


footer {
    background-color: $footer-bg-color;
    color: $footer-color;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: $footer-height;
    }
}